h1 {
    font-family: 'Bangers', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #7f8ba4 !important; /* Exempel på en ljusgrå bakgrundsfärg */
  }

.customHeadFont {
    font-family: 'Bangers', sans-serif;
    font-weight: 600;
}

.customFontText {
    font-family: 'Roboto', sans-serif;
}